<div id="hContainer">
	<div id="hReview">
		<h2>만났어요</h2>
	<%@review.each do |review|%>
	<%if review["rcode"]%>
		<div class="review">
			<div class="title tEllipsis">
				<%=link_to review["title"], "r/"+review["rcode"].to_s%>
			</div>
			<div class="summary">
			<%=raw review["greview"]%> &nbsp;<span class="more">more</span>
			</div>
			<ul class="status">
				<li class="date"><%=review["created_at"]%> ago</li>
				<li class="reply"><span class="icon"></span><%=review["reviewcmt"]%></li>
				<li class="like"><span class="icon"></span><%=review["likecnt"]%></li>
			</ul>
		</div>
	<% end%>
	<% end%>
	<a href="/rwrite"><div class="btn big blue">후기작성</div></a>
	</div>
</div>