<%=flash[:notice]%>
<script>
$(function(){
	$(".redactor").redactor({imageUpload:'/api/editorupload?userid='+userid});
});
</script>
<div id="hContainer">
	<div id="hCreate">
		<div class="wrap">
		<h2>활동 수정</h2>
		<fieldset>
			<%= form_tag( {:action => 'update'}, :multipart => true, :id=>'hMeetfrm', :class => 'form-horizontal') do %>
			<%= hidden_field_tag 'hMethod', 'generate' %>
			<%= hidden_field_tag 'mHost', @meet.mHost %>
			<%= hidden_field_tag 'sId', session[:user_id] %>
			<%= hidden_field_tag :mCategory, @meet.mCategory%>
			<%= hidden_field_tag :mPicture, @meet.mPicture%>
			<%= hidden_field_tag :mPicturename, @meet.mPicturename%>
			<%= hidden_field_tag 'mLat', @meet.mLat%>
			<%= hidden_field_tag 'mLng', @meet.mLng%>
			<%= hidden_field_tag :mDate, @meet.mDate, :limit => Date.today.strftime('%Y-%m-%d') %>
			<%= hidden_field_tag :mPayUse, @meet.mPayUse%>
			<%= hidden_field_tag :mCodeValid, 1%>
			<%= hidden_field_tag 'tuid', (@user.tuid.blank?)?"0":"1"%>
			<%= hidden_field_tag 'fuid', (@user.fuid.blank?)?"0":"1"%>
			<h2>개최자 정보 입력</h2>
			<h3><span class="number">0</span>소개글 입력</h3>
			<div class="detail">
				<%= text_area_tag :mSummary, @meet.mSummary %>
			</div>
			<h2>활동 정보 입력</h2>
			
			<h3><span class="number">1</span>활동 기본정보 입력</h3>
			<div class="default">
				<div class="picture">
					<img src="<%=S3ADDR%>hooful/meet_image.png"/>
				</div>
				<dl data-toggle="tooltip" title="관심사 카테고리를 선택한 후, 활동명을 입력해 주세요.">
					<dt><i class="title"></i>상품명</dt>
					<dd>
						<div class="category btn-group">
						  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">관심사<span class="caret"></span></a>
						  <ul class="dropdown-menu"></ul>
						</div>
						<div class="title">
							<%= text_field_tag :mTitle, @meet.mTitle, :class => 'pinput set'%>
							<span class="pholder" target="mTitle" style="display:none;">활동명을 입력해 주세요.</span>
						</div>
					</dd>
				</dl>
				<dl data-toggle="tooltip" title="‘달력’을 클릭하여 날짜를 선택한 후, 시간을 입력해 주세요.">
					<dt><i class="date"></i>일정</dt>
					<dd class="date">
						<div class="btn " target="mDate">달력<span class="caret"></span></div>
						<%= select_tag(:mTimeS, options_for_select(@meet_time, sprintf("%.1f", @meet.mTimeS)), :prompt=>'시작') %>
					</dd>
				</dl>
				<dl>
					<dt><i class="date"></i>가격</dt>
					<dd class="date">
						<div class="title">
							<%= text_field_tag :mPrice, @meet.mPrice, :class => 'pinput'%>
							<span class="pholder" target="mPrice">가격을 입력해 주세요.</span>
						</div>
					</dd>
				</dl>
				<dl>
					<dt><i class="date"></i>인원</dt>
					<dd class="date">
						<div class="title">
							남자:<%= text_field_tag :mMale, @meet.mMale, :class => 'pinput'%>&nbsp;여자:<%= text_field_tag :mFemale, @meet.mFemale, :class => 'pinput'%>
						</div>
					</dd>
				</dl>
				<dl data-toggle="tooltip" title="‘‘지도검색’을 클릭하여 장소를 선택한 후, 상세한 주소를 입력해 주세요.">
					<dt><i class="place"></i>장소</dt>
					<dd class="place">
						<div class="btn" target="mAddress">지도 검색<span class="caret"></span></div>
						<div class="place">
							<%= text_field_tag :mPlace, @meet.mPlace, :class => 'pinput set'%>
							<span class="pholder" target="mPlace" style="display:none;">상호명이나 장소명을 입력해주세요.</span>
						<div>
					</dd>
				</dl>
			</div>
			<h3><span class="number">2</span>활동 상세내용 입력</h3>
			<div class="detail">
				<%= text_area_tag :mDescription, @meet.mDescription, :class => 'redactor'%>
			</div>
			<h3><span class="number">3</span>티켓 정보 입력</h3>
			<div class="tickets" data-toggle="tooltip" title="‘‘티켓명과 수량, 금액을 입력해 주세요. ‘설정’을 통해 티켓에 대한 자세한 설정을 할 수 있어요.">
			</div>
			<h3><span class="number">4</span>추가설정</h3> 
			<div class="addition">
				<dl>
					<dt>SNS 공유설정</dt>
					<dd class="sns"  data-toggle="tooltip" title="SNS를 통해 내 활동을 알리세요.">
						<%=raw @user.snslist_share%>
					</dd>
				</dl>
				<dl>
					<dt>URL 설정</dt>
					<dd class="url">
						http://www.hooful.com/<%= text_field_tag :mCode, @meet.mCode, :readonly => false, :style => 'width:100px;'%>
					</dd>
				</dl>
			</div>
			<%= submit_tag '수정하기', :class=>'btn create', :id => 'meetSubmit' %>
			<% end %>
		</fieldset>
		</div>
	</div>
	<%= javascript_include_tag("https://apis.daum.net/maps/maps3.js?apikey=6361b3de6ad2a80ccd646018d87abaec3a2dfb2e") %>
	<%= javascript_include_tag("http://maps.google.com/maps/api/js?sensor=false") %>
</div>