<div id="hContainer">
	<%=flash[:notice]%>
	<div id="hBanner" class="signup">
		<div class="wrap">
			<div class="signin">
				<div class="description">
				후풀을 통해 가치있는 사람들과 활동을 나누세요.
				</div>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div id="cSign">
			<fieldset class="signinForm">
				<div class="snsSignin"></div>
				<%= form_tag( {:action => 'change_password'}, :method => "post", :id=>'hChangePassword', :class => 'form-horizontal') do %>
				<%= hidden_field_tag :encap_userid, @encaped[:userid] %>
				<div class="input">
					<div class="iconsign password"></div>
					<%= password_field_tag :password,nil, :placeholder => '비밀번호를 입력해 주세요.' %>
				</div>
				<div class="input">
					<div class="iconsign password"></div>
					<%= password_field_tag :password_confirmation,nil, :placeholder => '비밀번호를 한번 더 입력해 주세요.' %>
				</div>
				<div class="snsSignin"></div>
				<%= submit_tag '재설정하기', :class=>'signin btnSignin' %>

				<% end %>
			</fieldset>
		</div>
	</div>
</div>