<div id="hContainer">
	<%=flash[:notice]%>
	<div id="hBanner" class="signup">
		<div class="wrap">
			<div class="signin">
				<div class="description">
				후풀을 통해 가치있는 사람들과 활동을 나누세요.
				</div>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div id="cSign">
			<fieldset class="signinForm">
				<div class="snsSignin"></div>
				<%= form_tag( {:controller => 'user', :action => 'reset_password'}, :id=>'hResetPassword', :class => 'form-horizontal') do %>
				<%= hidden_field_tag :provider, "hooful" %>
				<div class="input">
					<div class="iconsign userid"></div>
					<%= text_field_tag :userid, nil, :placeholder => '이메일' %>
				</div>
				<span class="resetPassword grey">가입 시 작성했던 E-mail을 입력한 다음 전송버튼을 누르시면 비밀번호 변경 페이지 주소가 해당 메일로 발송됩니다.</span>
				<div class="snsSignin"></div>
				<%= submit_tag '전송', :class=>'signin btnSignin' %>

				<% end %>
			</fieldset>
		</div>
	</div>
</div>