<% if flash[:update_txt] %>
<script type="text/javascript">
$(function(){
alertView("<%=flash[:update_txt]%>");
});
</script>
<% end %>
<div id="hContainer" class="gray">
	<%= hidden_field_tag :userid, session[:user_id] %>
	<div class="wrap">
		<div class="userMenu">
			<a class="hUserMenu" href="/user/edit">프로필 수정</a>
			<a class="hUserMenu set" href="/user/edit/category">관심사 변경</a>
			<a class="hUserMenu" href="/user/edit/password">비밀번호 변경</a>
			<a class="hUserMenu" href="/user/edit/sns">SNS 연동</a>
			<a class="hUserMenu" href="/user/edit/notification">알림 설정</a>
		</div>
	</div>
	<div class="signinTitle">
		<div class="signDivider"></div>
	</div>
	<div class="sHoofuluser">
		<div class="wrap">
			<div id="hInterests" class="category">
				<%= raw @category_intro_icon%>
			</div>
			<div class="btnSave">저장하기</div>
		</div>
		<div class="h50"></div>
	</div>
	<%= form_tag( "/user/edit", :method => "post", :multipart => true, :id=>'hUserEdit', :class => 'form-horizontal') do |f| %>
		<fieldset class="signupForm">
			<%= hidden_field_tag :updateType, "category" %>
			<%= hidden_field_tag :update_txt, "" %>
		</fieldset>
	<%end%>
</div>