<% if flash[:update_txt] %>
<script type="text/javascript">
$(function(){
alertView("<%=flash[:update_txt]%>");
});
</script>
<% end %>
<div id="hContainer" class="gray">
	<div class="wrap">
		<div class="userMenu">
			<a class="hUserMenu" href="/user/edit">프로필 수정</a>
			<a class="hUserMenu" href="/user/edit/category">관심사 변경</a>
			<a class="hUserMenu" href="/user/edit/password">비밀번호 변경</a>
			<a class="hUserMenu" href="/user/edit/sns">SNS 연동</a>
			<a class="hUserMenu set" href="/user/edit/notification">알림 설정</a>
		</div>
	</div>
	<div class="signinTitle">
		<div class="signDivider"></div>
	</div>
	<div class="sHoofuluser">
		<div class="wrap">
			<div id="cUseredit">
				<%= form_tag( "/user/edit", :method => "post", :multipart => true, :id=>'hUserNoti', :class => 'form-horizontal') do |f| %>
					<fieldset class="signupForm">
						<%= hidden_field_tag :updateType, "notification" %>
						<%= hidden_field_tag :userid, @user[:userid] %>
						<%= hidden_field_tag :provider, @user[:provider] %>
						<%= hidden_field_tag :fuid, @user[:fuid] %>
						<%= hidden_field_tag :tuid, @user[:tuid] %>
						<%= hidden_field_tag :fbauth, @user[:fbauth] %>
						<%= hidden_field_tag :tauth, @user[:tauth] %>
						<%= hidden_field_tag :tsecret, @user[:tsecret] %>
						<%= hidden_field_tag :local, @user[:local] %>
						<%= hidden_field_tag :userpic,@user[:provider] %>
						<%= hidden_field_tag :userpicname,'' %>
						<div class="editline">
							<div class="csTitle"></div>
							<span class="csSubject">개최</span>
							<span class="csSubject">참여</span>
						</div>
						<div class="editline">
							<div class="csTitle">참여자 알림</div>
							<span class="csSubject"><%= check_box_tag :partice_host, true, ((@notify["partice_host"]) ? true : false), :class => 'switch' %></span>
							<span class="csSubject"><%= check_box_tag :partice_participants, true, ((@notify["partice_participants"]) ? true : false), :class => 'switch' %></span>
						</div>
						<div class="editline">
							<div class="csTitle">좋아요 알림</div>
							<span class="csSubject"><%= check_box_tag :hoo_host, true, ((@notify["hoo_host"]) ? true : false), :class => 'switch' %></span>
							<span class="csSubject"><%= check_box_tag :hoo_participants, true, ((@notify["hoo_participants"]) ? true : false), :class => 'switch' %></span>
						</div>
						<div class="editline">
							<div class="csTitle">후톡 알림</div>
							<span class="csSubject"><%= check_box_tag :hootalk_host, true, ((@notify["hootalk_host"]) ? true : false), :class => 'switch' %></span>
							<span class="csSubject"><%= check_box_tag :hootalk_participants, true, ((@notify["hootalk_participants"]) ? true : false), :class => 'switch' %></span>
						</div>
						<div class="editline">
							<div class="csTitle">날짜 알림</div>
							<span class="csSubject"><%= check_box_tag :nday_host, true, ((@notify["nday_host"]) ? true : false), :class => 'switch' %></span>
							<span class="csSubject"><%= check_box_tag :nday_participants, true, ((@notify["nday_participants"]) ? true : false), :class => 'switch' %></span>
						</div>
						<div class="editline">
							<div class="csTitle">당일 알림</div>
							<span class="csSubject"><%= check_box_tag :dday_host, true, ((@notify["dday_host"]) ? true : false), :class => 'switch' %></span>
							<span class="csSubject"><%= check_box_tag :dday_participants, true, ((@notify["dday_participants"]) ? true : false), :class => 'switch' %></span>
						</div>
					</fieldset>
					
				<div class="h50"></div>

				<%= submit_tag '저장하기',:id=>'btnSave' , :class=>'btnSave' %>
				<%end%>

			</div>
		</div>
	</div>
</div>